
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.logo{
    width: 3vw;
}

.header{}
  .content{
    position: relative;
    z-index: 2;
    background-color:    rgba(80, 79, 79, 0.5);
    width: 100vw;
    height: 97vh;
    color: white;
   
    
  }
  .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-in{
    padding-top: 22vh;
    padding-left: 10vw;
    
}
.btn-know{
    margin-left: 10vw;
    padding: 2.5vh;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius:50px ;
    margin-top: 5vh;
}
.btn-know:hover{
    background-color: #4285F4;
    transform: scale(1.1);
}
.hack{
    background-image: url("bg.svg");
    background-color: #32852d96;
    color: white;
}
.col-6{
    padding: 5vh 10vw 0 10vw;
}
.fit-cover:hover{
    transform:scale(1.2);
}
.hh:hover{
    color:rgb(156, 98, 48);
}